body{
    overflow-x: hidden;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #333;
    background: #f3f3f3;
}
#map{
   height: 300px;
   margin-bottom: -50px;
}
.alert{
    position: absolute;
    top: -50px;
    right: 0px;
    left: 0px;
    opacity: 0;
    z-index: 9999;
    border-radius: 0px;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: none;
    text-align: center;
    transition: 0.3s ease;
}
.alert-success{
    background: #87bc26;
}
.close {
    position: absolute;
    top: 5px;
    right: 13px;
}
.meeting-popup{
    position: fixed;
    z-index: 99999;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
    overflow: auto;
}
.meeting-popup .option input[type*='checkbox']{
    display: none;
}
.meeting-popup .option label{
    background: #ddd;
    font-size: 15px;
    padding:15px 20px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;

}
.meeting-popup .value{
    overflow: hidden;
    position: relative;
    top: 3px;
}
.meeting-popup .option .fa{
    font-size: 30px;
    margin-right:15px;
    float: left;
}
.meeting-popup-body{
    background: #fff;
    padding: 40px 40px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.meeting-slide{
    position: fixed;
    display: block;
    right: -210px;
    top: 20%;
    width: 300px;
    background: #fff;
    font-size: 23px;
    z-index: 999;
    padding: 23px 20px 15px;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid #87bc26;
    border-right: none;
}
.meeting-slide .fa{
    color: #87bc26;
    font-size: 40px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-top: -4px;
}
.meeting-slide:hover{
    right: 0px;
}
.page-loader{
    display:block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(20,20,20);
    z-index:99999999999;
}

.loader {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 48%;
    margin: -20px 0 0 -20px;
    background-color: #87bc26;
    text-indent: -12345px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity:0;

    -webkit-animation: scaleout 0.7s infinite ease-in-out;
    animation: scaleout 0.7s infinite ease-in-out;
}
.loader2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    background-color: #87bc26;
    text-indent: -12345px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity:0;

    -webkit-animation: scaleout 0.7 infinite ease-in-out;
    animation: scaleout 0.7s infinite ease-in-out;
    animation-delay:0.5s;
}
.loader3 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 52%;
    margin: -20px 0 0 -20px;
    background-color: #87bc26;
    text-indent: -12345px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity:0;

    -webkit-animation: scaleout 0.7s infinite ease-in-out;
    animation: scaleout 0.7s infinite ease-in-out;
    animation-delay:0.3s;
}
@-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 100% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
          opacity: 1;
      }
}

main{
    padding-top: 69px;
}
.gmnoprint:last-child{
    top:72px !important;
}
section.padding{
    padding: 70px 0px;
}
.navbar-inverse{
    border: 0px;
    background-color: rgba(0,0,0,0.6);
}
.navbar-inverse .navbar-nav>li>a{
    padding: 25px 30px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #87bc26;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #87bc26;
}
.forcefullwidth_wrapper_tp_banner{
    margin-top: -70px !important;
}
.header-block{
    padding: 20px 0px 40px;
}
.static-photo{
    min-height: 260px;
    background: #ccc;
    margin-top: -70px;
}
.number{
    font-family: 'Open Sans', Helvetica, sans-serif !important;
    font-weight: 400;
}
.navbar-brand img{
    width: 100%;
    margin-top: -10px;
    transition: 0.3s ease;
}
h1, h2, h3, h4{
    font-weight:300;
    color: #000;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
p{
    color: #666;
}
a{
    color: #333;
    transition: 0.3s ease;
    text-decoration: none;
}
input{
    transition: 0.3s ease;
}
a:hover{
    color: #87bc26;
    text-decoration: none;
}
.btn{
    padding: 12px 35px;
    background: #87bc26;
    color: #111;
    border-radius: 0px;
    border: 2px solid #87bc26;
    margin-top: 10px;
    font-weight: 400;
}
.btn:hover, .btn:active, .btn:focus{
    background: transparent;
    color: #87bc26;
}
.btn-more{
    margin-top: 60px;
}
span.glyphicon{
    transition: 0.3s ease;
}
span.glyphicon:hover{
    color: #87bc26;
}
.hp-article{
    padding: 20px 40px;
    border:1px solid rgba(138,188,38,0.8);
    margin-left: 4.1%;
    margin-right: 4.1%;
    min-height: 300px;
}
.hp-article:hover span.glyphicon{
    color: #87bc26;
}
.blog-icon{
    display:inline-block;
    float: left;
    font-size: 45px;
    margin:20px 25px 0px 0px;
}
.reference-card{
    padding: 10px 20px;
    min-height: 200px;
}
.reference-add-heading h2{
    font-size: 20px;
    margin-top:5px;
    margin-bottom: 15px;
}
textarea{
    max-width: 100%;
}
.reference-card:first-child {
    background: #fefefe;
}
.reference-card:last-child {
    background: #eee;
}
.reference-row:nth-child(2n+2) .reference-card:first-child{
     background: #eee;
}
.reference-row:nth-child(2n+2) .reference-card:last-child{
    background: #fefefe;
}
.reference-icon{
    display:inline-block;
    float: left;
    font-size: 45px;
    margin:14px 20px 0px 0px;
    color: #87bc26;
}
.reference-icon-hp{
    display:block;
    float: none;
    font-size: 55px;
    margin:14px 20px 0px 0px;
    color: #87bc26;
}
.slick-prev:before, .slick-next:before {
    font-size: 30px;
    opacity: .75;
    color: #87bc26;
}
.slick-dots{
    left: 0px;
    right: 0px;
}
.slick-dots li button::before {
    color: #87bc26;
}
.slick-dots li.slick-active button:before {
    color: #87bc26;
}
.reference-content{
    overflow: hidden;
}
.blog-content{
    overflow: hidden;
}
.shadow-background{
    background: #eee;
}
.reference-card p{
    font-style: italic;
}

.reference-item p{
    font-style: italic;
}
#home-text .text-about{
    padding:2px 60px;
}
#footer-contact{
    background: #111;
    color: #fff;
    font-size: 30px;
    padding:50px 0px;
    margin-top: 50px;
}
#footer-contact a{
    color: #fff;
    transition: 0.3s ease;
}
#footer-contact a:hover{
     color: #87bc26;
 }
footer {
    background: #111;
    color: #fff;
}
footer .container{
    border-top: 1px solid rgba(138,188,38,0.3);
    padding: 20px 0px;
}
#categories{
    margin-bottom: 70px;
}
.category-card{
    border: none;
    background: #87bc26;
    padding: 30px 30px;
    min-height: 300px;
    transition: all 0.3s ease;
}
.category-card h2{
    color: #000;
    transition: all 0.3s ease;
}
.category-card p{
    color: #000;
    transition: all 0.3s ease;
}
.category-card:hover{
    background: #597d15 !important;
    transform: scale(1.03);
    position:relative;
    z-index: 99;
    border-radius: 2px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}
.category-card:hover h2, .category-card:hover p{
    color: #fff;
}
#categories a:nth-child(2n+2) .category-card{
    background: #ccc;
}
.partner-item{
    margin-bottom: 30px;
}
.related-articles{
    margin-top: 30px;
}
.hp-categories{
    margin-top: -80px;
}
.slick-initialized .slick-slide{
    cursor: pointer;
}
.slick-initialized .slick-slide:focus{
    outline: none;
}
.product-navigation{
    border: 1px solid #87bc26;
    padding: 5px 20px;
}
.product-navigation h2{
    font-size: 24px;
    margin-bottom:25px;
}
.product-navigation h2:after{
    content: '';
    width:100px;
    height:2px;
    background: #87bc26;
    position: relative;
    display: block;
    top: 12px;
}
.product-navigation h3{
    font-size: 18px;
    margin:0px;
    padding: 8px 5px;
}
.product-navigation ul{
    padding:0px;
}
.product-navigation ul li{
    display: block;
    border-bottom: 1px solid rgba(135,188,38,0.3);
}
.product-navigation ul li:last-child {
    border-bottom: none;
}
.product-navigation ul li a{
    width: 100%;
}
@media (min-width: 990px){
    .reference-item{
        padding: 0px 230px;
    }
}
@media (max-width: 1024px){
#footer-contact{
    font-size: 25px;
}
}
@media (max-width: 990px){
    .meeting-slide{
        display: none;
    }
    #footer-contact{
        font-size: 20px;
    }
}
@media (max-width: 767px){
    #footer-contact{
        font-size: 25px;
    }
}